
body{
	height: 100%;

  }

h1{
	   
	margin: 24px 0;
	
  }


.image-container{
	width:100%;
    background-image: url(/images/webBack.jpg) ;
	background-size: cover;
	
  
}

.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

/* icons */

div.icon-align{

	text-align: center;
}
 ul.icon-align {
	overflow:hidden;
	white-space:nowrap;
	
}
 ul.icon-align li span{
	
	margin: 10px;
	padding: 0;
	
}
 li {
	display:inline;
	margin: 10px;
	padding: 0;
	
}

/* #Footer */

#footer {
	overflow: hidden;
	padding: 50px 0px 30px 0px;
}

#footer p {
	text-align: center;
		color: rgba(0,0,0,0.7);
}

#footer a {
		color: rgba(0,0,0,0.7);
}


/* formatting messages */

.messages p{
	margin: 6px 0;
}

